<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="defaultBackLink"></ion-back-button>
    </ion-buttons>
    <ion-title>Pasta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen common-parallax [scrollEvents]="true">
  <div class="wrap-blog-post bg-light offset-top-obj">
    <div class="cover">
      <div class="slogan pdr-70 pdl-40 txt-light">
        <h4 no-margin class="fs-22">Contains 414 Calories per serving - Takes 30 minutes to prepare</h4>
      </div>
      <div class="bg-img">
        <img class="parallax-obj parallax-up-obj parallax-blur-obj" src="assets/images/lpasta.jpg">
      </div>
    </div>
    <div padding class="main-content mgt--90">
      <div margin-bottom class="post-element shadow-3 bdra-5 bg-white">
        <div padding class="excerpt">
          <div padding class="left-txt">
            <h4 no-margin class="pd-0 txt1 fs-20 pdr-20">Ingredients</h4>
            <p class="description txt3 fs-12 pdr-20">1 tablespoon extra-virgin olive oil</p>
            <p class="description txt3 fs-12 pdr-20">1 medium onion, finely chopped</p>
            <p class="description txt3 fs-12 pdr-20">2 medium carrots, finely chopped</p>
            <p class="description txt3 fs-12 pdr-20">2 medium stalks celery, finely chopped</p>
            <p class="description txt3 fs-12 pdr-20">3 cloves garlic, minced</p>
            <p class="description txt3 fs-12 pdr-20">8 ounces whole-wheat rigatoni or penne (about 3 cups)</p>
            <p class="description txt3 fs-12 pdr-20">8 ounces lean (93% or leaner) ground beef</p>
            <p class="description txt3 fs-12 pdr-20">⅓ cup dry red wine</p>
            <p class="description txt3 fs-12 pdr-20">1 14-ounce can petite diced tomatoes</p>
            <p class="description txt3 fs-12 pdr-20">2 tablespoons tomato paste</p>
            <p class="description txt3 fs-12 pdr-20">⅛ teaspoon ground nutmeg</p>
            <p class="description txt3 fs-12 pdr-20">¼ teaspoon salt</p>
            <p class="description txt3 fs-12 pdr-20">¼ teaspoon freshly ground pepper</p>
          </div>
        </div>
      </div>
      <div margin-bottom class="post-element shadow-3 bdra-5 bg-white">
        <div padding class="excerpt">
          <div padding class="left-txt">
            <h4 no-margin class="pd-0 txt1 fs-20 pdr-20">Preparation</h4>
            <p class="description txt3 fs-12 pdr-20">1.	Heat oil in a large non-stick skillet over medium heat. Add onion, carrots,
            celery and garlic; cook, stirring occasionally, until just tender, 6 to 8 minutes.</p>
            <p class="description txt3 fs-12 pdr-20">2.	Meanwhile, bring a large pot of water to a boil.
            Add pasta and cook according to package directions. Drain.</p>
            <p class="description txt3 fs-12 pdr-20">3.	Add beef to the vegetables and cook, breaking up with a wooden spoon,
            until cooked through, 3 to 4 minutes. Increase heat to medium-high,
            add wine and cook until almost evaporated, 1 to 1½ minutes. Stir in tomatoes,
            tomato paste and nutmeg; reduce heat to medium-low, cover and simmer, stirring occasionally,
            for 10 minutes. Remove from the heat and stir in salt and pepper. Serve the pasta with the sauce.</p>
          </div>
        </div>
      </div>
      <div margin-bottom class="post-element shadow-3 bdra-5 bg-white">
        <div padding class="excerpt">
          <div padding class="left-txt">
            <h4 no-margin class="pd-0 txt1 fs-20 pdr-20">Nutrition information</h4>
            <p class="description txt3 fs-12 pdr-20">Serving size: 1 cup pasta & about 1 cup sauce</p>
            <p class="description txt3 fs-12 pdr-20">Per serving: 414 calories; 10 g fat(3 g sat); 7 g 
            fiber; 55 g carbohydrates; 26 g protein; 27 mcg folate; 43 mg cholesterol; 8 g sugars; 0 g 
            added sugars; 5,886 IU vitamin A; 23 mg vitamin C; 78 mg calcium; 4 mg iron; 521 mg sodium; 
            707 mg potassium</p>
            <p class="description txt3 fs-12 pdr-20">Nutrition Bonus: Vitamin A (118% daily value), Vitamin C (38% dv), Iron (22% dv)</p>
            <p class="description txt3 fs-12 pdr-20">Carbohydrate Servings: 3½</p>
            <p class="description txt3 fs-12 pdr-20">Exchanges: 2½ starch, 2½ vegetable, 2 lean meat, ½ fat</p>
          </div>
        </div>
      </div>
      <ion-button color="primary center">Buy ingredients</ion-button>
    </div>
  </div>
</ion-content>